html, body {
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 0.35fr 4fr 3fr;
      grid-template-columns: 0.35fr 4fr 3fr;
  border: 1px solid none;
}

.first {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid none;
  margin-top: auto;
  margin-bottom: auto;
}

.first img {
  width: 38px;
  height: auto;
}

.second {
  border: 1px solid none;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.second h1 {
  font: heebo;
  font-size: 2rem;
  line-height: 0rem;
}

.second h3 {
  font: rubik;
  font-size: 1.15rem;
  font-weight: 300;
  color: #707070;
  line-height: 0;
  line-height: 1.5rem;
}

.third {
  margin-top: 5rem;
  line-height: 0;
}

.third img {
  width: 85%;
}

a {
  text-decoration: none;
  color: grey;
}
